<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css" />
  </head>
  <body>
    <h1 class="brand__name">Weather-app</h1>

    <div class="container">
      <div class="grid__container">
        <div class="weather__forecast">
          <div class="forecast__details">
            <div class="temp">
              19<sup>o</sup>
            </div>
            <div class="location">Dhanbad</div>
            <div class="overall">sunny</div>
          </div>
        </div>
        <div class="weather__details">
          <div class="form__container">
            <form>
              <input
                type="text"
                id="address_input"
                placeholder="Enter the Address"
              />
              <button type="submit">🔍</button>
            </form>
          </div>
          <div class="latest__search">
            <h1>Delhi</h1>
            <h1>Mumbai</h1>
            <h1>Jharkhand</h1>
            <h1>Bihar</h1>
            <h1>Bengaluru</h1>
          </div>
          <div class="horizontal__line"></div>
          <div class="details__container">
            <h1>weather Details</h1>
            <div class="weather">
              <div class="weather__header">
                <h2>Humadity</h2>
                <h2>Cloudcover</h2>
                <h2>Feelslike</h2>
                <h2>Visibility</h2>
                <h2>Observation time</h2>
              </div>
              <div class="weather__value">
                <h2 class="Humadity">27</h2>
                <h2 class="Cloudcover">0</h2>
                <h2 class="Feelslike">32</h2>
                <h2 class="Visibility">3</h2>
                <h2 class="Observation">06:06 PM</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/JS/index.js"></script>
  </body>
</html>
